* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  color: #252727;
  background-color: #444;

  background-position: center;
  background-size: cover;
}

.app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: #eee;
  border: none;
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.3);
}

.filter,
.search {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.filter-options {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.filter-options div {
  flex: 1 1 0;
}

h1 {
  text-align: center;
  color: #333974;
}

.btn-filter-asc {
  background-image: url(../img/sort.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  background-color: #fff;
  border: #333974 2px solid;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.btn-filter-desc {
  background-image: url(../img/sort1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  background-color: #fff;
  border: #333974 2px solid;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;
}

button {
  background-color: #333974;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
  border: none;
  margin-right: 10px;
  font-size: 15px;
  padding: 10px;
}

button:hover {
  opacity: 1;
}

input,
select {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

.todo-form {
  padding-bottom: 1.5rem;
}

.todo-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #5e17cf;
}

.todo {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  width: 100%;
  word-break: break-all;
}
.btn-action {
  display: flex;
  align-items: center;
  justify-content: right;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
  border: none;
  width: 100%;
}

.complete {
  font-weight: 600;
  font-size: 1.125rem;
  color: #fff;
  background-color: green;
}
.remove {
  font-size: 1.125rem;
  font-weight: 600;
  color: #fff;
  background-color: red;
}
